<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="webp" href="/images/Fog.webp">

    <link rel="stylesheet" href="/stylesheet/header/header.css">
    <link rel="stylesheet" href="/stylesheet/header/hamburger.css">
    <link rel="stylesheet" href="/stylesheet/header/logo.css">
    <title>FOG</title>
</head>
<body>
<header th:fragment="header" class="header-grid">
    <!-- hamburger menu -->
    <div id="hamburger">
        <div class="hamburger-wrapper">
            <div class="containerHamburger" onclick="Show(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>
            <div id="hamburgerMenu">
                <!-- options in burger menu -->
                <h2><a th:if="${session.currentUserActive != 'true'}" href="/login">Log In</a></h2>
                <h2><a th:if="${session.currentUserActive != 'true'}" href="/createUser">Opret en bruger</a></h2>
                <div class="currentUserCheck" th:if="${session.currentUserActive}">
                    <h2><a th:href="@{/logout}">Log Out</a></h2>
                    <!-- sælger options -->
                    <h2><a th:if="${session.currentUser.role == 'sælger'
                    or session.currentUser.role == 'admin'}"
                           th:href="@{/sales}">Sælger panel</a></h2>

                    <!-- admin options -->
                    <h2><a th:if="${session.currentUser.role == 'admin'}"
                           th:href="@{/adminMaterialCRUD}">Materiale panel</a></h2>
                    <h2><a th:if="${session.currentUser.role == 'admin'}"
                           th:href="@{/adminUserCRUD}">Bruger panel</a></h2>

                </div>
            </div>
        </div>
    </div>

    <!-- logo -->
    <div id="logo">
        <!-- link back to main page -->
        <a href="http://localhost:7070/">
            <!-- picture -->
            <img th:src="@{/images/Fog.webp}" alt="Logo">
        </a>
    </div>
</header>

<script src="/js/hamburger.js"></script>
</body>
</html>