<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="webp" href="/images/Fog.webp">
    <link rel="stylesheet" href="/stylesheet/sales.css"/>
    <link rel="stylesheet" href="/stylesheet/globalStaff.css"/>

    <!--Burgermenu css-->
    <link rel="stylesheet" href="/stylesheet/header/header.css">
    <link rel="stylesheet" href="/stylesheet/header/hamburger.css">
    <link rel="stylesheet" href="/stylesheet/header/logo.css">
    <title>Sales</title>
</head>
<body>
<header th:replace="~{index :: header}"></header>
<h1>Oversigt over alle ordrer</h1>
<!-- Shows error msg if pressent -->
<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

<!-- Approved orders -->
<h2>Approved</h2>
<table border="1">
    <thead>
    <tr>
        <th>Ordre ID</th>
        <th>Email</th>
        <th>Status</th>
        <th>Total pris</th>
        <th>Se ordre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${allApproved}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.customer.email}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <form th:action="@{/orderView}" method="post">
                <input type="hidden" name="order_id" th:value="${order.id}"/>
                <button type="submit">Se ordre</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Pending orders -->
<h2>Pending</h2>
<table border = "1">
    <thead>
    <!-- Table names -->
    <tr>
        <th>Ordre ID</th>
        <th>Email</th>
        <th>Status</th>
        <th>Total pris</th>
        <th>Se ordre</th>
    </tr>
    </thead>
    <tbody>
    <!-- Table data-->
    <tr th:each="order : ${allPending}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.customer.email}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <!-- botton to view a spefic order (ordreview) -->
            <form th:action="@{/orderView}" method="post">
                <input type="hidden" name="order_id" th:value="${order.id}"/>
                <button type="submit">Se ordre</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Paid orders -->
<h2>Paid</h2>
<table border="1">
    <thead>
    <tr>
        <th>Ordre ID</th>
        <th>Email</th>
        <th>Status</th>
        <th>Total pris</th>
        <th>Se ordre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${allPaid}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.customer.email}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <form th:action="@{/orderView}" method="post">
                <input type="hidden" name="order_id" th:value="${order.id}"/>
                <button type="submit">Se ordre</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script src="/js/hamburger.js"></script>
</body>
</html>